body {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
}
#logo{
    height: 10%;
    width: 10%;
    margin: 0;
}
.data_table {
    width: 1170px;
}

h1 {
    color: white;
    display: flex;
    justify-content: left;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#line {
    color: white;
    display: flex;
    justify-content: left;
}

video {
    transform: translateX(50%) translateY(50%);
    position: absolute;
    bottom: -25%;
    right: 50%;
    width: 100% !important;
    clip-path:  inset(300px 350px 150px 10px);
}
.submitButton {
    background: linear-gradient(#ff8089, #fb767f);
    color: #fff;
    padding: 15px;
    font-size: 15px;
    margin-left: -4px;
    margin-right: 4px;
    border: 0;
    border-radius: 0 3px 3px 0px;
    font-weight: 200;
    text-transform: uppercase;
}

.submitButton:hover {
    background: linear-gradient(#76bedf, #5cafd8);
    cursor: pointer;
}

input[type="text"] {
    background-color: #F5F5F5;
    padding: 15px 10px;
    border: 0;
    border-radius: 0;
    width: 310px;
    font-style: italic;
    color: #0000009c;
    font-size: 15px;
    border-radius: 3px 0 0 3px;
    font-weight: 200;
}
#hero{
    background-color: #F5F5F5;
    padding: 15px 10px;
    border: 0;
    border-radius: 0;
    width: 310px;
    font-style: italic;
    color: #0000009c;
    font-size: 15px;
    border-radius: 3px 0 0 3px;
    font-weight: 200;
}
#search {
    display: flex;
    justify-content: right;
}

table * {
    position: relative;
}

table td,
table th {
    padding-left: 8px;
}

table th {
    color: white;
    padding-left: 8px;
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

table td,
table th {
    text-align: left;
}

table td.l,
table th.l {
    text-align: right;
}

table td.c,
table th.c {
    text-align: center;
}

table td.r,
table th.r {
    text-align: center;
}

tbody tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
    cursor: pointer;
}